<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package 
	  Name="WixTutorialPackage" 
	  Manufacturer="Ash Concepts" 
	  Version="1.0.0.0" 
	  UpgradeCode="1eb1264e-6da1-4fd6-8071-24951f36a731">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

	<MediaTemplate EmbedCab="yes"/>
	  
    <Feature Id="Main">
      <ComponentGroupRef Id="AppComponents" />
    </Feature>
  </Package>
</Wix>
